<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iamyanbing.dao.manager.ProjectMapper">
    <resultMap id="BaseResultMap" type="com.iamyanbing.dao.manager.entity.Project">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="project_id" jdbcType="INTEGER" property="projectId"/>
        <result column="name" jdbcType="VARCHAR" property="name"  typeHandler="com.iamyanbing.dao.manager.handler.DataTypeHandler" />
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="is_deleted" jdbcType="BIT" property="isDeleted"/>
        <result column="total_hours" jdbcType="DECIMAL" property="totalHours"/>
        <result column="total_estimate" jdbcType="DECIMAL" property="totalEstimate"/>
        <result column="total_consumed" jdbcType="DECIMAL" property="totalConsumed"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, project_id, name, is_deleted, total_hours,
    total_estimate, total_consumed, create_time, update_time
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_project
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_project
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.iamyanbing.dao.manager.entity.Project">
    insert into t_project (id, project_id, name, 
      code,
      is_deleted, total_hours, total_estimate, 
      total_consumed, create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{projectId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{code,jdbcType=VARCHAR},
      #{isDeleted,jdbcType=BIT}, #{totalHours,jdbcType=DECIMAL}, #{totalEstimate,jdbcType=DECIMAL}, 
      #{totalConsumed,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>

    <insert id="insertBatch" parameterType="java.util.List">
        insert into t_project (id, project_id, name,
        code,
        is_deleted, total_hours, total_estimate,
        total_consumed, create_time, update_time)
        values
        <foreach collection="list" item="pro" index="index" separator=",">
            (
            #{pro.id,jdbcType=INTEGER}, #{pro.projectId,jdbcType=INTEGER}, #{pro.name,jdbcType=VARCHAR},
            #{pro.code,jdbcType=VARCHAR},
            #{pro.isDeleted,jdbcType=BIT}, #{pro.totalHours,jdbcType=DECIMAL}, #{pro.totalEstimate,jdbcType=DECIMAL},
            #{pro.totalConsumed,jdbcType=DECIMAL}, #{pro.createTime,jdbcType=TIMESTAMP}, #{pro.updateTime,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

    <insert id="insertSelective" parameterType="com.iamyanbing.dao.manager.entity.Project">
        insert into t_project
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="projectId != null">
                project_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="code != null">
                code,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
            <if test="totalHours != null">
                total_hours,
            </if>
            <if test="totalEstimate != null">
                total_estimate,
            </if>
            <if test="totalConsumed != null">
                total_consumed,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="projectId != null">
                #{projectId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=BIT},
            </if>
            <if test="totalHours != null">
                #{totalHours,jdbcType=DECIMAL},
            </if>
            <if test="totalEstimate != null">
                #{totalEstimate,jdbcType=DECIMAL},
            </if>
            <if test="totalConsumed != null">
                #{totalConsumed,jdbcType=DECIMAL},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.iamyanbing.dao.manager.entity.Project">
        update t_project
        <set>
            <if test="projectId != null">
                project_id = #{projectId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=BIT},
            </if>
            <if test="totalHours != null">
                total_hours = #{totalHours,jdbcType=DECIMAL},
            </if>
            <if test="totalEstimate != null">
                total_estimate = #{totalEstimate,jdbcType=DECIMAL},
            </if>
            <if test="totalConsumed != null">
                total_consumed = #{totalConsumed,jdbcType=DECIMAL},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.iamyanbing.dao.manager.entity.Project">
    update t_project
    set project_id = #{projectId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=BIT},
      total_hours = #{totalHours,jdbcType=DECIMAL},
      total_estimate = #{totalEstimate,jdbcType=DECIMAL},
      total_consumed = #{totalConsumed,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
    where id = #{id,jdbcType=INTEGER}
  </update>

    <update id="updateBatch">
        <foreach collection="list" item="record" index="index" open="" close="" separator=";">
            update t_project
            <set>
                <if test="record.projectId != null">
                    project_id = #{record.projectId,jdbcType=INTEGER},
                </if>
            </set>
            WHERE id = #{record.id,jdbcType=VARCHAR}
            AND   name = #{record.name,jdbcType=VARCHAR,typeHandler=com.iamyanbing.dao.manager.handler.DataTypeHandler}
        </foreach>
    </update>
</mapper>